USE [master]
GO
/****** Object:  Database [DboBankaOtomasyon]    Script Date: 6.09.2019 00:21:12 ******/
CREATE DATABASE [DboBankaOtomasyon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DboBankaOtomasyon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL_2014\MSSQL\DATA\DboBankaOtomasyon.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DboBankaOtomasyon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL_2014\MSSQL\DATA\DboBankaOtomasyon_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DboBankaOtomasyon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DboBankaOtomasyon]
GO
/****** Object:  Table [dbo].[TBL_HESAPLAR]    Script Date: 6.09.2019 00:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_HESAPLAR](
	[HesapID] [int] IDENTITY(1,1) NOT NULL,
	[HesapNo] [varchar](30) NULL,
	[HesapSahibi] [varchar](50) NULL,
	[HesapIBAN] [varchar](30) NULL,
	[HesapSKT] [char](5) NULL,
	[HesapBakiye] [decimal](18, 2) NULL,
	[HesapSifre] [int] NULL,
	[HesapCVV] [int] NULL,
	[HesapDetay] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_HESAPLAR] PRIMARY KEY CLUSTERED 
(
	[HesapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_MUSTERILER]    Script Date: 6.09.2019 00:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_MUSTERILER](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriTC] [char](11) NULL,
	[MusteriAd] [varchar](30) NULL,
	[MusteriSoyad] [varchar](30) NULL,
	[MusteriDogumTarihi] [char](10) NULL,
	[MusteriTip] [char](8) NULL,
	[MusteriHesapNo] [varchar](30) NULL,
	[MusteriTelefon] [varchar](11) NULL,
	[MusteriIl] [char](13) NULL,
	[MusteriIlce] [varchar](30) NULL,
	[MusteriAdres] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_MUSTERILER] PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
